.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 20px;
  }
  
  /* Main content (posts area) */
  .main-content {
    flex: 1;
    padding: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
  }
  /* Sidebar */
  .right-sidebar {
    position: fixed;
    top: 3em;
    right: 0;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    background-color: #eee;
    padding: 20px;
    border-left: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  

.comment-layout {
    position: fixed;
    top: 3em;
    width: 20%;
    height: 100vh;
    background: #eee;
    padding: 10px;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
